<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body style="background-color: #E9ECEB;">
<div th:fragment="contact_list" class="container m-2" style="background-color: #FCFCFC;">
    <div class="container-sm">
        <div class="row">
            <div class="col-md-12">
                <div class="container text-left mb-3">
                    <a th:href="@{/create-contact}" class="btn btn-primary btn-sm m-2">
                        <i class="bi bi-plus-lg"></i> Add Contact</a><br>
                </div>
                <table class="table">
                    <thead class="table-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">first_name</th>
                        <th scope="col">last_name</th>
                        <th scope="col">phone</th>
                    </tr>
                    </thead>
                    <tbody th:each="book:${books}">
                    <tr>
                        <td th:text="${contact.id}"></td>
                        <td th:text="${contact.first_name}"></td>
                        <td th:text="${contact.last_name}"></td>
                        <td th:text="${contact.phone}"></td>
                        <td>
                            <a class="btn btn-warning btn-sm"
                               th:href="@{/update-contact/{id}(id=${contact.id})}"
                               role="button">Update</a>
                            &nbsp;&nbsp;
                            <a class="btn btn-danger btn-sm"
                               th:href="@{/delete-contact/{id}(id=${contact.id})}"
                               role="button">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>